.center-content {
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
  gap: 20px;
  background-color: transparent;
}

.card {
  flex: 1; 
  max-width: 300px; 
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
}

.card a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
} 