.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    height: 60px; 
  }
  
  .nav-buttons {
    text-decoration: none;
    color: white;
    width: 300px;
    padding: 12px;
    background: black;
    text-align: center;
    border-radius: 4px;
    margin: 0 18px 6px;
  }
  
  